:root {
    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
    --white-orange: #FFE6C9;
    --brown: #5C4529;
}

body, html {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1237px;
    margin: 0px auto;
}

/* Header */

header {
    margin-top: 51px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content_last {
     display: flex;
     align-items: center;
}

.header-content_last img {
    margin-right: 25px;  
}
.header-content_last a:last-of-type {
    background-color: var(--green);
    text-decoration: none;
    color: #fff;
    padding: 15px 34px;
    border-radius: 133px;
    transition: background-color .5s ease;
}

.header-content_last a:last-of-type:hover {
    background-color: var(--orange);
}

 nav a {
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    display: inline-block;
    transition: all .5s ease;
 }

 nav a:hover {
    color: var(--green);
    transform: scale(1.05);
 }

 nav a:last-of-type {
    margin-right: 0;
 }

 nav a.checked {
    color: var(--orange);
 }
 
 /* Main */

 main {
    margin-top: 166px;
 }

 .main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
 }

 .main-content_about {
    background-color: var(--white-orange);
    text-decoration: none;
    color: var(--orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;
    margin-bottom: 22px;
 }

 .main-content h1 {
    color: var(--black);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 30px;
 }

 .main-content p {
    color: var(--brown);
    line-height: 200%;
    margin-bottom: 77px;
 }

 .main-content_buttons a:first-of-type {
    padding: 17px 62px;
    border-radius: 162px;
    background-color: var(--orange);
    text-decoration: none;
    color: #fff;
    margin-right: 23px;
    display: inline-block;
    transition: transform .5s ease;
 }

 .main-content_buttons a:last-of-type {
    padding: 17px 55px;
    border-radius: 162px;
    background-color: var(--green);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: transform .5s ease;
}

.main-content_buttons a:hover {
    transform: scale(1.05);
 }

.main-content_buttons a:hover {
    transform: scale(1.05);
 }


 /* Welcome */

 .container {
    max-width: 1440px;
    margin: 0px auto;
}

.welcome {
    background-color: rgba(63, 198, 110, 0.1);
} 

.welcome-inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.welcome-inner h2 {
    color: var(--black);
    font-size: 80px;
    font-family: "Tinos", serif;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 60px;
}

.welcome-inner h2 span {
    color: var(--orange);
}

.welcome-inner p {
    color: var(--brown);
    line-height: 200%;
    margin-bottom: 122px;
}

.welcome-inner a:last-of-type {
    padding: 17px 45px;
    border-radius: 162px;
    background-color: var(--orange);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: transform .5s ease;
}

.welcome-inner a:hover {
    transform: scale(1.05);
 }


/* Menu */

.menu {
    padding-top: 164px;
    padding-bottom: 201px;
}

.menu h2 {
    text-align:center;
    color: var(--black);
    font-size: 80px;
    font-family: "Tinos", serif;
    line-height: 200%;
    font-weight: 700;
    margin-bottom: 60px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.menu-buttons a {
    background-color: #D0CCC7;
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;
    transition: background-color .5s ease;
    transition: color .5s ease;
    transition: transform .5s ease;
}

.menu-buttons a:hover {
    background-color: var(--orange);
    color: #fff;
    transform: scale(1.05);
}

.menu-buttons .checked {
    background-color: var(--black);
    color: #fff;
}
 
.menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    width: 30%;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 70px;
    text-align: center;
    padding: 35px 29px;
    margin-bottom: 40px;
}

.menu-item h3 {
    font-weight: 600; 
    font-size: 30px;
    line-height: 200%;
    margin-bottom: 5px;
}

.menu-item_raiting {
    margin-bottom: 15px;
}

.menu-item_raiting {
    margin-right: 10px;
}

.menu-item_raiting img:last-of-type {
    margin-right: 0px;
}

.menu-item p {
    font-size: 14px;
    line-height: 200%;
    color: var(--brown);
    margin-bottom: 30px;
}
 
.menu-item_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item_last-price {
    font-weight: 600;
    font-size: 25px;
}

.menu-item_last a {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 11px 36px;
    border-radius: 162px;
    font-size: 16px;
    transition: background-color .5s ease;
    transition: transform .5s ease;
}

.menu-item_last a:hover {
    background-color: var(--green);
    transform: scale(1.05);
}

.menu-pag {
    display: flex;
    justify-content: center;
}

.menu-pag a {
    text-decoration: none;
    height: 55px;
    width: 55px;
    border-radius: 15px;
    transition: background-color .7s ease;
}

.menu-pag a:hover {
    background-color: var(--orange);
    color: #fff;
}

.back {
    background-color: var(--black);
    border-radius: 15px;
    color: #fff;
    height: 55px;
    width: 55px;
    position: relative;
    margin-right: 30px;
}

.back span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 100;
}

.page {
    background-color: rgba(255, 138, 0, 0.1);
    color: var(--orange);
    border-radius: 15px;
    text-decoration: none;
    position: relative;
    margin-right: 15px;
}

.page span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 16px;
}

.dot {
    color: #B7A28B;
    position: relative;
}

.dot span {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 26px;
}

.next {
    background-color: var(--black);
    border-radius: 15px;
    color: #fff;
    height: 55px;
    width: 55px;
    position: relative;
    margin-left: 46px;
}

.next span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 100;
}


/* Reservation */

.reservation {
    padding-top: 113px;
    padding-bottom: 39px;
    background-color: rgba(255, 244, 231, 0.5);
}

.reservation .container {
    min-width: 1466px;
}

.reservation-left {
    margin-left: -570px;
}

.reservation-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reservation-right h2 {
    color: var(--black);
    font-size: 80px;
    font-family: "Tinos", serif;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 50px;
}

.reservation-right h2 span {
    color: var(--orange);
}

.reservation-right p {
    font-size: 20px;
    color: var(--brown);
    line-height: 220%;
    margin-bottom: 132px;
}

.reservation-all {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 17px 55px;
    border-radius: 162px;
    transition: background-color .5s ease;
}

.reservation-all:hover {
    background-color: var(--black);
}

/* Chefs */

.chefs {
    padding-top: 175px;
    padding-bottom: 271px;
    text-align: center;
}

.chefs h2 {
    color: var(--black);
    font-size: 80px;
    font-family: "Tinos", serif;
    line-height: 200%;
    font-weight: 700;
    margin-bottom: 135px;
    text-align: center;
}

.chefs-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.chef-item {
    text-align: center;
}

.chef-item h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
}

.chef-item p {
    color: #A08D76;
    line-height: 200%;
}

.chefs-all {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 17px 78px;
    border-radius: 162px;
    font-weight: 600;
    font-style: 20px;
    transition: background-color .5s ease;
}

.chefs-all:hover {
    background-color: var(--green);
}


/* Costumers */

.costumers {
    background-color:rgba(208, 204, 199, 0.1);
    padding: 71px 0px 99px 0px;
}

.costumers-inner {
    background-image: url(../style/customer/Round.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.costumers-title {
    color: var(--black);
    font-size: 80px;
    font-family: "Tinos", serif;
    line-height: 160px;
    font-weight: 700;
    margin-bottom: 57px;
}

.costumers-about-img {
    margin-bottom: 41px;
}

.costumers-about-title {
    color: var(--black);
    font-size: 30px;
    font-family: "Poppins", serif;
    line-height: 60px;
    font-weight: 600;
}

.costumers-about-text {
    color: var(--brown);
    font-size: 20px;
    font-family: "Poppins", serif;
    line-height: 40px;
    font-weight: 400;
}

.costumers-about-inner {
    position: relative;
    width: 524px;
    margin-right: auto;
    margin-left: auto;
}

.costumers-about-inner p {
    color: var(--brown);
    font-size: 20px;
    font-family: "Poppins", serif;
    line-height: 40px;
    font-weight: 400;
}

#dot1 {
    position: absolute;
    top: -45px;
    left: -45px;
    transform: rotate(180deg);
}

#dot2 {
    position: absolute;
    bottom: -45px;
    right: -45px;
}










